<section id="Contact">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 text-center">
            <h1>Contact</h1>
            <span class="line"></span>
        </div>
       

         <div class="container-fluid mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form>
                        <div class="form-group mt-5">
                            <label for=" yourname">Your name</label>
                            <input type="text" class="form-control" id="yourname" placeholder="Enter your name">
                        </div>
                        <div class="form-group mt-2">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your email">
                        </div>

                        <div class="form-group mt-2">
                            <label for="phone">Phone Number</label>
                            <input type="phonenumber" class="form-control" id="phonenumber"
                                placeholder="Enter your phonenumber">
                        </div>

                        <div class="form-group mt-2">
                            <label for="phone">Message</label>
                            <textarea type="Message" class="form-control" id="Message"
                                placeholder="Message(optional)"></textarea>
                        </div>

                        <div class="row d-flex justify-content-center mb-3">
                            <div class="col-sm-6 mt-3">
                                <button class="btn btn-primary" type="button">Submit Form</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
</div>
</section>