<div [ngStyle]="{'background-color': backgroundColor}" class="color-box">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center ">
            <div class="col-sm-4  form-down">
                <div class="card">
                    <div class="mt-3">
                        <h2 class="d-flex justify-content-center">Get Family Portrait</h2>
                        <h5 class="d-flex justify-content-center">from any Enquiries</h5>
                    </div>
                    <div class="card-body ">
                        <form class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">

                            <div class="row d-flex justify-content-end">
                                <div class="col-sm-8 mt-3">
                                    <input class="form-control" id="validationCustom02" type="text" required="" />
                                </div>
                            </div>

                    
                          
                           

                            <div class="row d-flex justify-content-end">
                                <div class="col-sm-6 mt-3">
                                    <input class="form-control" id="validationCustom02" type="text" required="" />
                                </div>
                            </div>

                            <div class="row d-flex justify-content-center">
                                <div class="col-sm-6 mt-3">
                                    <input class="form-control" id="validationCustom02" type="text" required="" />
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center mb-5">
                                <div class="col-sm-6 mt-3">
                                    <input class="form-control" id="validationCustom02" type="text" required="" />
                                </div>
                            </div>
                            
                           
                        </form>
                    </div>
                </div>
                <!-- submit button -->
                <div class="col-sm-9 offset-sm-3 text-end mt-2">
                    <button class="btn btn-warning txt-color" type="button" (click)="submit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>