
.container-fluid {
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-down {
  margin-top: 150px;
  width: 60vw;
}

.card {
  border: 3px;
}

