
section{
    width: 100vw;
    height: 100vh;
}
.container-fluid{
    background-image:linear-gradient(rgba(230, 207, 6, 0.5),rgba(230, 207, 6, 0.5));
    box-shadow: 10px 10px 10px 10px #888888;
    width: 700px;
    height: 500px;
}

h1{   
    font-family: 'Rubik Moonrocks', cursive;
}