<!-- gallery -->
<section id="gallery">
    <div class="container px-md-2 mb-5">
        <div class="row justify-content-center mt-5">
            <div class="col text-center">
                <h2>Gallery</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 mt-3">
                <img src="/assets/7.jpg" style="height: 450px;" alt="">
            </div>
            <div class="col-md-4 mt-3">
                <img src="/assets/8.jpg" style="height: 450px;" alt="">
            </div>
            <div class="col-md-4 mt-3">
                <img src="/assets/6.jpg" style="height: 450px;" alt="">
            </div>
            <div class="col-md-4 mt-5">
                <img src="/assets/4.jpg" style="height: 450px;" alt="">
            </div>
            <div class="col-md-4 mt-5">
                <img src="/assets/5.jpg" style="height: 450px;" alt="">
            </div>
            <div class="col-md-4 mt-5">
                <img src="/assets/9.jpg" style="height: 450px;" alt="">
            </div>
        </div>
    </div>
</section>