@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Pacifico&family=Poppins:ital,wght@0,900;1,600&family=Rubik+Moonrocks&display=swap');

.scrolled {
        background-image: linear-gradient(rgba(230, 207, 6, 0.5), rgba(230, 207, 6, 0.5));
        color: black;
       
}

.nav-link:hover {
        border-bottom: 1px solid rgb(230, 207, 6, 0.5);
}

.navbar-brand {
        font-size: 30px;
        font-family: 'Rubik Moonrocks', cursive;
}

a {
        font-family: 'Rubik Moonrocks', cursive;
}