<!-- nav -->
<div class="main">
    <nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'scrolled': isscrolled}">
        <div class="container mr-auto">
            <a class="navbar-brand text-light mx-5" href="#home">Shiv Photograph</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-4">
                        <a class="nav-link text-light" aria-current="page" href="">Home</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link text-light" href="#gallery">Gallery</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link text-light" href="#Contact">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    
    <!-- header -->
    <section class="cover">
        <div [style.background-image]="'url(/assets/32.jpg)'" class="position-relative"
            style="background-size: cover;background-position: center;height: 100vh;">
            <img src="/assets/32.jpg" alt="background image" style="visibility: hidden; height: 0; width: 0;">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-start">
                    <div class="display-t">
                        <div class="display-tc animation fade-in-up position-absolute text-light">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-gallery></app-gallery>
    <app-contact></app-contact>

</div>